<% include header %>


<div class="">
<div class="">
  <div class="" style="width:40%; margin: 20px;">
    <h1 >Contact Us</h1>
    <form action="/" method="post">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="name" id="demo-input" />
        <label class="mdl-textfield__label" for="demo-input">Name</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="college" id="demo-input" />
        <label class="mdl-textfield__label" for="demo-input">College</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="email" id="demo-input" />
        <label class="mdl-textfield__label" for="demo-input">Email</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" name="phone_number" id="demo-input" />
        <label class="mdl-textfield__label" for="demo-input">Phone Number</label>
      </div>
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="comment" id="demo-input" />
        <label class="mdl-textfield__label" for="demo-input">Comment</label>
      </div> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
          <textarea class="mdl-textfield__input" type="text" name="comment" rows="3" id="add" style="margin-top: 0px; margin-bottom: 0px; height: 27px;"></textarea>
          <label class="mdl-textfield__label" for="add">Comment</label>
        </div>
        <div class="">

        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Submit
        </button>
    </form>

    <!-- <a href="/" style="text-align:center;">Go Back</a> -->
  </div>
  </div>
</div>
<% include footer %>
