

<% include header %>
<div class="" style="width:40%; margin: 20px;">
  <h2 style="padding:0px;">View details of Teachers</h2>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
    <input type="text" value="" class="mdl-textfield__input" id="sample4" readonly>
    <input type="hidden" value="" name="sample4">
    <!-- <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i> -->
    <label for="sample4" class="mdl-textfield__label">Department</label>
    <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
      <% departments.forEach(function(dep){%>
          <li class="mdl-menu__item"><%= dep.name %></li>

        <%})%>
    </ul>
</div>
<form class="" action="index.html" method="post">
  <!-- Colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Submit
</button>
</form>
</div>
<% include footer %>
